<div
  class="grid grid-cols-10 grid-rows-10 text-slate-700 text-[13px] font-sans w-full h-screen"
>
  <div class="col-span-10 row-span-1 h-full"><app-nav></app-nav></div>
  <div class="col-span-4 row-span-9 row-start-2 col-start-1">
    <div
      class="flex flex-col border-r-2 border-gray-300 bg-white overflow-hidden h-full"
    >
      <div
        class="px-4 pt-3 pb-2 border-b border-gray-300 bg-white flex-shrink-0"
      >
        <div class="flex justify-between items-center mb-1">
          <div class="text-[17px] font-bold">Inspection History</div>
        </div>

        <div
          class="flex flex-wrap gap-3 text-[11px] text-gray-600 items-center justify-between"
        >
          <div class="flex items-center gap-1">
            <strong class="text-gray-800">
              Latest Inspection:
              {{ Images[0]?.capturedDate | date: "dd MMM yyyy" }}
            </strong>
            <strong class="text-gray-800">
              Kommune: {{ poleData?.municipality }}, Fylke:
              {{ poleData?.county }}
            </strong>
          </div>

          <div
            class="border border-gray-400 rounded-full px-2 py-1 text-xs bg-blue-600 text-white"
          >
            {{ Images.length }} Inspections
          </div>
        </div>
      </div>

      <div class="flex-1 overflow-y-auto p-3 flex flex-col gap-2">
        @for (image of Images; track image.imageId; let i = $index) {
          <div
            class="relative flex gap-3 p-3 bg-slate-50 border border-border-default rounded hover:border-border-hover cursor-pointer"
          >
            <img
              [src]="
                'http://dt14.idi.ntnu.no/RoadPolesImages/2026/' +
                image.imageId +
                '.jpg'
              "
              (error)="onImageError($event)"
              alt="Inspection Image"
              (click)="openImage(i)"
              role="(button)"
              (keydown.enter)="openImage(i)"
              tabindex="0"
              class="w-24 h-28 object-cover"
            />

            <div class="flex flex-col gap-1 flex-1">
              <div class="text-[10px] text-gray-400 uppercase tracking-wide">
                Inspection Date
              </div>

              <div class="text-[14px] font-bold">
                {{ image.capturedDate | date: "dd MMM yyyy" }}
              </div>

              <div class="text-[11px] text-gray-500">
                {{ image.capturedDate | date: "HH:mm" }}
              </div>
              <div
                class="flex justify-center w-22 border border-gray-400 rounded px-2 py-1 text-[10px] bg-gray-100 cursor-default items-center"
                [ngClass]="{
                  'bg-green-50 text-green-700 border-green-300':
                    image.inspectionStatus === 'Inspected',
                  'bg-red-50 text-red-700 border-red-300':
                    image.inspectionStatus === 'Not inspected' ||
                    image.inspectionStatus === null,
                }"
              >
                {{
                  image.inspectionStatus
                    ? image.inspectionStatus
                    : "Not Inspected"
                }}
              </div>

              <div class="flex gap-3 mt-1">
                <button
                  (click)="openImage(i)"
                  class="border border-border-default rounded px-2 py-1 text-xs bg-blue-100 text-slate-600 hover:bg-slate-200 hover:border-border-hover cursor-pointer"
                >
                  🔍 Fullscreen
                </button>
                <button
                  [routerLink]="[
                    '/inspection/edit',
                    poleData?.id,
                    image.imageId,
                  ]"
                  class="border border-border-default rounded px-3 py-1 text-xs bg-blue-100 text-slate-600 hover:bg-slate-200 hover:border-border-hover cursor-pointer"
                >
                  Edit Inspection
                </button>
              </div>
            </div>
            <span
              class="absolute top-2 right-2 bg-gray-600 text-white rounded-full text-[9px] px-2"
            >
              #{{ 1 + Images.indexOf(image) }}
            </span>
          </div>
        }
      </div>
    </div>
  </div>
  <div class="col-span-6 row-span-9 col-start-5 row-start-2">
    <div class="flex flex-col h-full w-full">
      <div
        class="flex items-center justify-between px-3 py-2 bg-white border-b border-gray-300"
      >
        <div class="text-[13px] font-bold">Pole Location</div>
      </div>

      <div class="flex-1">
        <app-leaflet-map
          class="h-full w-full"
          [poles]="poles"
        ></app-leaflet-map>
      </div>

      <div class="border-t border-gray-300 bg-white px-4 py-2 font-sans">
        <div class="text-[11px] text-gray-500 uppercase mb-1">
          Pole Metadata
        </div>

        <div class="flex gap-4 text-[12px]">
          <div class="flex gap-2">
            <strong class="text-gray-800">Latitude:</strong>
            {{ poleData?.location?.coordinates?.[1]?.toFixed(6) }}
          </div>
          <div class="flex gap-2">
            <strong class="text-gray-800">Longitude:</strong>
            {{ poleData?.location?.coordinates?.[0]?.toFixed(6) }}
          </div>

          <div>
            <strong>Road Category:</strong> {{ poleData?.roadCategory }}
            <strong class="ml-4">Road Number:</strong>
            {{ poleData?.roadNumber }}
          </div>
          <div>
            <strong>Distance from Road:</strong>
            {{ poleData?.distanceFromRoad }} m
          </div>
        </div>
      </div>
    </div>
  </div>

  @if (selectedImage) {
    <div
      class="fixed inset-0 bg-black/55 z-9999 flex items-center justify-center"
      (keydown.arrowleft)="prevImage()"
      (keydown.arrowright)="nextImage()"
      tabindex="0"
    >
      <div
        class="bg-white border-2 border-[#333] rounded-md p-4 w-[480px] max-w-[90vw] relative"
      >
        <button
          (click)="closeImage()"
          class="absolute top-2 right-2 border-[1.5px] border-[#888] rounded-full w-[28px] h-[28px] flex items-center justify-center text-[14px] bg-[#f5f5f5] cursor-pointer hover:bg-[#e0e0e0]"
        >
          ×
        </button>

        <img
          class="w-full h-[320px] object-contain border mb-2"
          [src]="
            'http://dt14.idi.ntnu.no/RoadPolesImages/2026/' +
            selectedImage.imageId +
            '.jpg'
          "
          (error)="onImageError($event)"
          alt="Fullscreen Image"
          role="button"
          tabindex="0"
        />

        <div class="flex justify-between items-center">
          <button
            (click)="prevImage()"
            class="flex items-center gap-1 border-[1.5px] border-[#888] rounded px-[14px] py-[5px] text-[12px] bg-[#f5f5f5] cursor-pointer hover:bg-[#e0e0e0]"
          >
            <span>← </span>
            <span>Prev</span>
          </button>

          <div class="text-xs font-sans">
            Image {{ selectedIndex! + 1 }} of {{ Images.length }} .
            {{ selectedImage.capturedDate | date: "dd MMM yyyy, HH:mm" }}
          </div>

          <button
            (click)="nextImage()"
            class="flex items-center gap-1 border-[1.5px] border-[#888] rounded px-[14px] py-[5px] text-[12px] bg-[#f5f5f5] cursor-pointer hover:bg-[#e0e0e0]"
          >
            <span>Next </span> <span>→</span>
          </button>
        </div>
      </div>
    </div>
  }
</div>
