<nav class="h-full bg-gray-800 flex items-center justify-between px-4">
  <div class="text-[16px] font-bold text-white">🗺 PoleInspect</div>
  <div class="flex gap-2">
    <button
      class="border border-blue-500 rounded px-3 py-1 text-xs bg-blue-600 text-white hover:bg-blue-700"
      (click)="navigateTo('/')"
    >
      Home
    </button>

    <button
      class="border border-slate-600 rounded px-3 py-1 text-xs text-slate-300 hover:bg-slate-700 hover:text-white"
      (click)="navigateTo('calendar')"
    >
      Calendar
    </button>

    <button
      class="border border-slate-600 rounded px-3 py-1 text-xs text-slate-300 hover:bg-slate-700 hover:text-white"
      (click)="navigateTo('inspectors')"
    >
      Inspectors
    </button>
    <button
      class="border border-slate-600 rounded px-3 py-1 text-xs text-slate-300 hover:bg-slate-700 hover:text-white"
      (click)="navigateTo('plan')"
    >
      Plan Capture
    </button>
    <div class="relative">
      <button
        type="button"
        id="notificationButton"
        class="relative p-2 flex items-center justify-center"
        (click)="setNotificationsOpen(!isNotificationsOpen)"
      >
        <mat-icon class="!text-slate-300 hover:!text-white cursor-pointer">
          notifications
        </mat-icon>
        <div
          class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-700 border-1 rounded-full -top-2 -end-2"
        >
          20
        </div>
      </button>

      <!-- Dropdown menu -->
      <div
        id="notificationDropdown"
        [ngClass]="{
          hidden: !isNotificationsOpen,
          block: isNotificationsOpen,
        }"
        class="absolute right-0 mt-2 w-48 bg-gray-700 border border-gray-600 rounded-lg shadow-xl z-999"
      >
        <div class="px-4 py-3 border-b border-gray-600">
          <div class="font-semibold text-white">Bonnie Green</div>
          <div class="text-xs text-slate-400 truncate">bonnieflowbite.com</div>
        </div>
        <ul class="p-2 text-sm text-slate-300" aria-labelledby="avatarButton">
          <li>
            <a
              href="#"
              class="block w-full px-3 py-2 hover:bg-gray-600 hover:text-white rounded-md transition-colors duration-150"
              >Dashboard</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block w-full px-3 py-2 hover:bg-gray-600 hover:text-white rounded-md transition-colors duration-150"
              >Settings</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block w-full px-3 py-2 hover:bg-red-900 hover:text-red-200 text-red-400 rounded-md transition-colors duration-150"
              >Sign out</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="relative">
      <button
        id="avatarButton"
        type="button"
        (click)="setAvatarMenuOpen(!isAvatarMenuOpen)"
        class="w-11 h-11 bg-gray-300 rounded-full cursor-pointer border-2 border-slate-500 hover:border-blue-400 shadow-md transition-all duration-200"
      >
        NR
      </button>

      <!-- Dropdown menu -->
      <div
        id="userDropdown"
        [ngClass]="{
          hidden: !isAvatarMenuOpen,
          block: isAvatarMenuOpen,
        }"
        class="absolute right-0 mt-2 w-48 bg-gray-700 border border-gray-600 rounded-lg shadow-xl z-999 group-hover:block"
      >
        <div class="px-4 py-3 border-b border-gray-600">
          <div class="font-semibold text-white">Avatar</div>
          <div class="text-xs text-slate-400 truncate">bonnieflowbite.com</div>
        </div>
        <ul class="p-2 text-sm text-slate-300" aria-labelledby="avatarButton">
          <li>
            <a
              href="#"
              class="block w-full px-3 py-2 hover:bg-gray-600 hover:text-white rounded-md transition-colors duration-150"
              >Dashboard</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block w-full px-3 py-2 hover:bg-gray-600 hover:text-white rounded-md transition-colors duration-150"
              >Settings</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block w-full px-3 py-2 hover:bg-gray-600 hover:text-white rounded-md transition-colors duration-150"
              >Earnings</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block w-full px-3 py-2 hover:bg-red-900 hover:text-red-200 text-red-400 rounded-md transition-colors duration-150"
              >Sign out</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
