.calenderContainer {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: repeat(10, minmax(0, 1fr));
  margin: 0 auto;
  width: 50%;
  height: auto;

  .calender {
    color: #327694;
  }
}
