/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
html,
body {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-expansion-panel {
  background-color: white !important;
  box-shadow: none !important;
}

mat-expansion-panel-header {
  background-color: oklch(44.6% 0.03 256.802) !important;
  margin-bottom: 0.5rem;
}
mat-expansion-panel-header:hover {
  background-color: oklch(27.8% 0.033 256.848) !important;
}

.mat-expansion-panel-body {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 0;
}
